/*VARIANTES*/
:root {
    --main-color: #E6136A;
    --font-primary: 'Readex Pro';
}

/*principales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
h1{
    color: #E6136A;
    font-family: 'Paytone One';
    text-align: center;
}

h2, h3, h4, p, dl, a{
    font-family: 'Readex Pro';
}

h2{
    font-size: 15px;
}

h3{
border: solid #E6136A 4px;
border-radius: 15px;
padding: 0.4rem;
}

h4{
    color: #E6136A;
}

p{
    margin: 0;
}

a{
    background-color: #E6136A;
    border-radius: 15px;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
}

img{
    width: 5rem;
}

header{
    border-bottom: solid #E6136A 2px;
    padding-bottom: 10px;
}

header img{
    width: 12rem;
    display: block;
    margin: auto;
}

.bloc{
    display: flex;
    flex-direction: column;
    border: 3px solid blue;
    gap: 3rem;
    background-color: #E6136A;
    justify-content: center;
    padding: 1rem;
}

.key-info{
    color: white;
    padding: 0.5rem;
}

.bloc dl{
    display : flex; 
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.bloc-p{
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

main{
    text-align: center;
}

.web-link{
    margin-top: 1rem;
}


/*les petits symboles et logos*/
.chapeau{
    display: block;
    position: absolute;
    right: 0;
    rotate: 30deg;
    top: 15%;
}

.mascotte-droite{
    display: block;
    position: absolute;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 10%;
    rotate: 350deg;
}