/*VARIANTES*/
:root {
    --main-color: #E6136A;
    --bg-secondary: #FCEEF2;
    --hover-color: #F9A8BA;
    --font-primary: 'Readex Pro', sans-serif;
    --font-title: 'Paytone One', sans-serif;
    --radius: 60px;
    --border-radius-card: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    color: black;
    overflow-x: hidden;
}

/* --- TYPOGRAPHIE --- */
h1 {
    color: var(--main-color);
    font-family: var(--font-title);
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

h4 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.title-border {
    border: solid var(--main-color) 4px;
    border-radius: 50px;
    padding: 0.8rem;
    background-color: white;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17%;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* --- BOUTON a (à voir si on met plutot une classe --- */
a {
    text-decoration: none;
}

.button {
    background-color: var(--main-color);
    border-radius: var(--radius);
    color: white;
    padding: 1rem;
    margin: 2rem;
    display: inline-block;
}

img {
    width: 5rem;
}

header {
    border-bottom: solid var(--main-color) 2px;
    padding-bottom: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.logo-header {
    width: 12rem;
    grid-column: 2;
}

.bloc {
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    gap: 1rem;
    background-color: #E6136A;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
}

.key-info {
    color: white;
    padding: 0.5rem;
    position: relative;
}

.bloc dl {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.bloc-p {
    background-color: white;
    border-radius: var(--radius);
    padding: 0.5rem 1rem;
    text-align: center;
}

main {
    text-align: center;
}

.section-stats {
    position: relative;
    padding: 3rem 1rem;
    background-color: var(--color-secondary-bg);
}

.background-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3000px;
    background-image: url('../images/pinkWave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}

.stats-mascot {
    width: 4rem;
}

.stat-card {
    display: grid;
    /* Layout par défaut : Texte à gauche (area 'txt'), Graph à droite (area 'viz') */
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-areas: "txt viz"; /* Si jamais je place le txt à gauche et viz à droite, je met le mot dan stat visual et stat content */
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

/* Variante : Inversion des zones */
.stat-card.layout-inverse {
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-areas: "viz txt"; /* Et ici ça inverse car g mis pour le graphe du milieu une classe .layout-inverse en + */
}

/* Colonne Texte */
.stat-content {
    grid-area: txt;
    font-weight: bold;
    font-size: 0.95rem;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.stat-visual {
    grid-area: viz;
    border-radius: var(--border-radius-card);
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 5px;
    height: 300px;
    width: 100%;
    overflow: hidden;
    /* Empêche le canvas de déborder */
}

.chart-render {
    width: 100%;
    height: 100%;
}


.chapeau {
    position: absolute;
    right: 0;
    top: 15%;
    width: 5rem;
    transform: rotate(30deg);
    z-index: 11;
}

.mascotte-droite {
    display: block;
    position: absolute;
    left: 10%;
    rotate: 350deg;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


nav {
    display: flex;
}


.btn-menu img {
    width: 100%;
}

.btn-menu {
    appearance: none;
    grid-column: 3;
    justify-self: end;
    margin-right: 1rem;
    background: transparent;
    border: none;
    width: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 1001;     
}

.icone-croix {
    display: none;
    z-index: 100;
}

.btn-menu.open .icone-filtre {
    display: none;
}

.btn-menu.open .icone-croix {
    display: block;
}

.menu-list {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: linear 200ms;
    background: #F9A8BA;
    border-radius: 1rem;
    color: black;

}

.menu-item {
    display: flex;
    align-content: center;
    gap: 10%;
}

.active {
    background-color: var(--main-color);
    border-radius: 10px;
}

.menu-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 30vh;
    display: none;
    background: rgba(249, 168, 186, 0.95);
    z-index: 1000;
    overflow-y: auto;
    padding: 2rem;
    clip-path: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

.menu-list.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
}


.menu-list.open {
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: linear 200ms;

}

.menu-link {
    text-decoration: none;
    color: var(--bg-secondary);
    font-weight: 600;
}

.menu-link:hover {
    background-color: var(--main-color);
}

.h2-filtre {
    color: var(--bg-secondary);
    font-weight: 900;
}



/*DEUXIEME PAGE / DISCIPLINE*/

.discipline-card {
    display: grid;
    /* Layout par défaut : Texte à gauche (area 'txt'), Graph à droite (area 'viz') */
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-areas: "txt viz"; /* Si jamais je place le txt à gauche et viz à droite, je met le mot dan stat visual et stat content */
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
}

/* Variante : Inversion des zones */
.discipline-card.layout-inverse {
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-areas: "viz txt"; /* Et ici ça inverse car g mis pour le graphe du milieu une classe .layout-inverse en + */
}

/* Colonne Texte */
.discipline-content {
    grid-area: txt;
    font-weight: bold;
    font-size: 0.95rem;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.discipline-visual {
    grid-area: viz;
    border-radius: var(--border-radius-card);
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 5px;
    width: 60%;
    overflow: hidden;
    /* Empêche le canvas de déborder */
}


.liens img{
    width: 20%;
}

.boiteNomMaster{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.nomMaster{
    background-color: rgba(94, 94, 94, 0.164);
    padding: 0.5rem;
}

}