/*VARIANTES*/
:root {
    --main-color: #E6136A;
    --font-primary: 'Readex Pro';
}

/*principales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #E6136A;
    font-family: 'Paytone One';
    text-align: center;
}

h2,
h3,
h4,
p,
dl,
a {
    font-family: 'Readex Pro';
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.title-border {
    border: solid var(--main-color) 4px;
    border-radius: 50px;
    padding: 0.8rem;
    background-color: white;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 90%;
    top: 18%;
}


h4 {
    color: #E6136A;
}

p {
    margin: 0;
}

a {
    background-color: #E6136A;
    border-radius: 15px;
    color: white;
    padding: 1rem;
    text-decoration: none;
    margin: 2rem;
    display: inline-block;
}

img {
    width: 5rem;
}

header {
    border-bottom: solid #E6136A 2px;
    padding-bottom: 10px;
}

header img {
    width: 12rem;
    display: block;
    margin: auto;
}

.bloc {
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    gap: 1rem;
    background-color: #E6136A;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
}

.key-info {
    color: white;
    padding: 0.5rem;
}

.bloc dl {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.bloc-p {
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}

main {
    text-align: center;
}

.chiffres-section {
    position: relative;
    min-height: 80vh;
    padding-top: 5rem;
}

.wave-bg {
    /* Positionnement pour prendre toute la section */
    position: absolute;
    background-image: url('../images/pinkWave.svg');
    background-size: cover;
    /* Assurez-vous que l'image couvre bien la zone */
    background-repeat: no-repeat;
    z-index: -1;
}

/*les petits symboles et logos*/
.chapeau {
    display: block;
    position: absolute;
    right: 0;
    rotate: 30deg;
    top: 17%;
    z-index: 5;
}

.mascotte-droite {
    display: block;
    position: absolute;
    left: 10%;
    rotate: 350deg;
}