h1{
    color: #E6136A;
    font-family: 'Paytone One';
}

h2, h3, h4, p{
    font-family: 'Readex Pro';
}



h1{
    text-align: center;
}

h2{
    font-size: 15px;
}

h3{
border: solid #E6136A 4px;
border-radius: 15px;
padding: 0.4rem;
}

img{
    width: 5rem;
}
header{
    display: flex;
    justify-content: center;
    border-bottom: solid #E6136A 2px;
    padding-bottom: 10px;
}
.titre{
    font-family: 'Paytone One';
}

.bloc{
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    background-color: #E6136A;
    justify-content: center;
    padding: 1rem;
}
.bloc-p{
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;
    margin: 0;
}

button{
    background-color: #E6136A;
    border-radius: 15px;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
}

main{
    text-align: center;
}
p{
    margin: 0;
}
